rich
web3
netifaces
requests
urllib3
beautifulsoup4
aioipfs
aiohttp
cryptography
llm
llm-gemini
huggingface-hub
cmake
llama-cpp-python
pytest
pytest-asyncio
pycvesearch
pycryptodome
numpy
tiktoken
scapy
aioboto3
pydantic
eth-typing
rich-gradient
prompt-toolkit
customtkinter
