rich
web3
netifaces
requests==2.28.2
urllib3<2.0
botocore
six
beautifulsoup4
aioipfs
aiohttp
cryptography
llm
llm-gemini
huggingface-hub
cmake
llama-cpp-python
pytest
pytest-asyncio
pycvesearch
pycryptodome
numpy
tiktoken
scapy
aioboto3
pydantic
horde-client
